<template name="views_README">
  {{#Surface}}
    <div id="main" role="main">
      <h1>Using Views from Famous</h1>

      <p>There has been a little confusion about the role of the famous-views
      package.
      Famous-views is <b>primarily</b> a low level wrapped around Famous,
      and <b>secondarily</b> will provide pre-built views for common Famous
      views (and ultimately, their prebuilt components too).</p>

      <p>To clarify, <b>you don't need to see a view listed in this package
      to be able to use it</b>.  Famous-views can as easily wrap <b>any
      famous view</b>, that we haven't added yet, that someone in the community
      wrote that's not part of official Famo.us and you downloaded, etc, etc.
      Of course, if you do anything cool, send us a pull request on Github!</p>

      <h2>Registering a new View</h2>

      {{#snippet lang="javascript"}}
        FView.registerView('Scrollview', famous.views.Scrollview);
      {{else}}
        {{#if currentLang "coffee"}}
          FView.registerView 'Scrollview', famous.views.Scrollview
        {{/if}}
      {{/snippet}}

      <p>This let's you do:</p>

      {{#snippet lang="spacebars"}}
        {{dstache}}#ScrollView arg1="string" arg2=reactiveHelper}}
          ...
        {{dstache}}/ScrollView}}
      {{else}}
        {{#if currentLang "jade"}}
          +Scrollview arg1="string" arg2=reactiveHelper
        {{/if}}
      {{/snippet}}

      <p>and also:</p>

      {{#snippet lang="spacebars"}}
        {{dstache}}>Scrollview template="name" arg2=etc}}
      {{else}}
        {{#if currentLang "jade"}}
          +Scrollview template="name" arg2=etc
        {{/if}}
      {{/snippet}}

      {{#markdown}}
### Out of the Box

* **String attributes** automatically decoded like in all our
  examples; strings like `dimensions="[3,3]"` are translated
  to *an array of two Numbers*; otherwise functions (i.e. reactive
  template helpers) may be used instead to provide an **exact value**
  (i.e., a Number, Array, Object, Function, etc).
  Certain **attribute names** are handled especially for you, e.g. `direction="X"`
  ➙ `Utility.Direction.X` and `translate="[10,10,10]` ➙ `Transform.translate(10,10,10)`.

  You can also specify values like
  `transform="eval:Transform.rotateZ(Math.PI)"`
  etc, provided you first set `FView.attrEvalAllowedKeys = '*'`
  or `FView.attrEvalAllowedKeys = ['transform']`,
  understand the security implications, and have `Transform`
  declared in your global scope.  This is safe if you only use
  it when defining your templates.  For reactive helpers, ensure that
  they can never return text which may be influenced by the user.  If
  you're developing a package, bare in mind that many sites completely
  disable `eval`.

  **Reacive helpers** *should always provide exact values -
  and not strings -* to avoid unnecessary overhead. If the view has
  a `setOptions()` method, it will be reactively called on
  any invalidation of any attribute.  For custom methods, see the
  `attrUpdate` callback in "Advanced Views", below.

  `_onRender="quotedHelperName"` - a pseudo-helper shortcut to let
  you define onRender callbacks via the containing template's helpers.
  *Experimental*.

  The **famo.us class is instantiated** using these
  parsed attributes.  A custom `create()`
  method may be specified, see below.

* If no **modifier** is specified, but typical arguments for a
  one are given, e.g.
  `translate="[100,100]"`, a Modifier is automatically
  prepended to the Render Tree as part of the MeteorFamousView.
  Likewise, for `size="[undefined,undefined"]`, etc,
  *when using a View which doesn't support sizing*.

* When called via **template inclusion** (like `{{dstache}}>View template="x"}}`),
  all the regular Meteor template stuff applies, so you can
  do things in `Template.x.rendered = function() { }`, setup
  [events](/examples/events), etc.

* **IDs**: Specifying `id="uniqueId"` (on the
  assumption that your view
  will only ever be rendered once, simultaneously), let's you access
  the rendered MeteorFamousView with `FView.byId("uniqueId")`.
  If you don't
  specify an id, a unique, sequential numeric id is automatically
  assigned; look for it in the JavaScript console, very useful for
  debugging.

* **Child templates** will by default be added using the view's
  `add()` method.  Alternatively, if the view provides
  a `sequenceFrom()` method, children will be added to
  a managed array, and `{{dstache}}#famousEach}}` may
  be used (all reactive, of course).  Can be overriden, see below.
      {{/markdown}}

      <h3>Advanced Views</h3>

      {{#snippet lang="javascript"}}
        FView.registerView('MyView', myViewClass, {

          // If exists, called instead of the view's own add() method
          add: function(child_fview, child_options) {
            var target = child_options.target;
            if (!target)
              throw new Error("HeaderFooterLayout must specify target='header/footer/content'");
            // `this` is the fview for this instance
            this.view[target].add(child_fview);
          },

          // If exists, called when an attribute is reactively updated
          attrUpdate: function(key, value, oldValue, data, firstTime) {
            // `this` is the fview for this instance
            switch(key) {
              case "specialX":
              case "specialY":
                this.view.setSpecial(key, value);
                break;
            }
          },

          // If exists, called to instantiate the famo.us class
          create: function(options) {
            return new this._view.constructor(options);
          },

          // If exists, called after instantiating the famo.us class
          famousCreatedPost: function() {
            // `this` is the fview for this instance
            this.pipeChildrenTo = this.parent.pipeChildrenTo
              ? [ this.view, this.parent.pipeChildrenTo[0] ]
              : [ this.view ];
          },

          // If exists, called after calling parent's add() method,
          // and after our children have been add()'d to us.
          onRenderTree: function() {
            // `this` is the fview for this instance
          },

          // If exists, called just before an fview is completely destroyed
          onDestroy: function() {
            if (this.mutationObserver)
              this.mutationObserver.disconnect();
          }

        });
      {{else}}
        {{#if currentLang "coffee"}}
          FView.registerView 'MyView', myViewClass,
            # If exists, called instead of the view's own add() method
            add: (child_fview, child_options) ->
              target = child_options.target
              unless target
                throw new Error 'HeaderFooterLayout must specify target="header/footer/content"'
              # `this` or `@` is the fview for this instance
              this.view[target].add child_fview
            # If exists, called when an attribute is reactively updated
            attrUpdate: (key, value, oldValue, data, firstTime) ->
              # `this` or `@` is the fview for this instance
              switch key
                when 'specialX', 'specialY'
                  @view.setSpecial key, value
            # If exists, called to instantiate the famo.us class
            create: (options) ->
              new @_view.constructor(options)
            # If exists, called after insantiating the famo.us class
            famousCreatedPost: ->
              # `this` or `@` is the fview for this instance
              @pipeChildrenTo = if @parent.pipeChildrenTo? then [ @view, @parent.pipeChildrenTo[0] ] else [ @view ]
            # If exists, called after calling our parent's add() method
            # and after our children have been add()'d to us
            onRenderTree: ->
              # `this` or `@` is the fview for this instance
            # If exists, called just before an fview is completely destroyed
            onDestroy: ->
              # `this` or `@` is the fview for this instance
              @mutationObserver.disconnect() if @mutationObserver
        {{/if}}
      {{/snippet}}

      <p>See some <a href="https://github.com/gadicc/meteor-famous-components/tree/master/lib/views">actual examples</a> from the source code of our pre-built
      views.</p>

      {{#markdown}}
## Changelog

### v0.1.33

* The `_onRender` attribute for an experimental "helper" shortcut.
* Docs: Add `onRenderTree` (which existed already)
* Docs: Fixed description of `famousCreatedPost`.

### v0.1.30

* Add an `onDestroy()` callback to be fired just before the fview is completely
  destroyed.
      {{/markdown}}

     </div>
  {{/Surface}}
</template>
