<template name="views_Flipper">
  {{#Scrollview size="[undefined,undefined]"}}
    {{#Surface size="[undefined,true]" class="pagePad"}}
      <h1>Flipper</h1>
      <p>Links two renderables back to back that can be flipped along the axis.</p>
      <p>For this to look really good, we embed the Flipper into ContainerSurface
      so that we can play with the perspective without affecting the main context.
      </p>
      <p>
        Famous:
        <a href="http://www.famo.us/docs/views/Flipper">Docs</a> |
        <a href="https://rawgit.com/Famous/famous/v0.3.0-rc/examples/views/Flipper/example.html">Example</a>
      </p>
      <br />
    {{/Surface}}
    {{#View size='[undefined, 150]' class='pagePad'}}
      {{#Surface size='[undefined, undefined]'}}{{/Surface}}
      {{>flipper}}
    {{/View}}
    {{#Surface size="[undefined,true]" class="pagePad"}}
      <br />
      {{#snippet lang="spacebars"}}
        {{dstache}}#ContainerSurface id='flipperWorld' size='[150, 150]' translate='[20,0]'}}
          {{dstache}}#Flipper size="[150,150]"}}
            {{dstache}}>Surface target="front" template="views_Flipper_front"
              class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
            {{dstache}}>Surface target="back" template="views_Flipper_back"
              class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
          {{dstache}}/Flipper}}
        {{dstache}}/ContainerSurface}}
      {{else}}
        {{#if currentLang "jade"}}
          +ContainerSurface id='flipperWorld' size='[150, 150]' translate='[20,0]'
            +Flipper size='[150,150]' translate='[100,0]'
              +Surface target='front' template='views_Flipper_front' class='red-bg' size='[150,150]' align='[.5,.5]' origin='[.5,.5]'
                | Default front content
              +Surface target='back' template='views_Flipper_back' class='blue-bg' size='[150,150]' align='[.5,.5]' origin='[.5,.5]'
                | Default back content
        {{/if}}
      {{/snippet}}

      {{#snippet lang="javascript"}}
        Template.flipper.rendered = function() {
          var flipperWorld = FView.byId('flipperWorld');
          flipperWorld.view.context.setPerspective(500);
        }

        Template.views_Flipper_front.events({
          'click': function(event, tpl) {
            var fview = FView.from(tpl);
            fview.parent.view
              .setAngle(Math.PI, { curve : 'easeOutBounce', duration : 500});
          }
        });

        Template.views_Flipper_back.events({
          'click': function(event, tpl) {
            var fview = FView.from(tpl);
            fview.parent.view
              .setAngle(0, { curve : 'easeOutBounce', duration : 500});
          }
        });
      {{else}}
        {{#if currentLang "coffeescript"}}
          Template.flipper.rendered = ->
            flipperWorld = FView.byId 'flipperWorld'
            flipperWorld.view.context.setPerspective 500

          Template.views_Flipper_front.events
            'click': (event, tpl) ->
              fview = FView.from tpl
              fview.parent.view.setAngle Math.PI,
                curve : 'easeOutBounce'
                duration : 500

          Template.views_Flipper_back.events
            'click': (event, tpl) ->
              fview = FView.from tpl
              fview.parent.view.setAngle 0,
                curve : 'easeOutBounce'
                duration : 500
        {{/if}}
      {{/snippet}}
    {{/Surface}}
  {{/Scrollview}}
</template>

<template name="flipper">
  {{#ContainerSurface id='flipperWorld' size='[150, 150]' translate='[20,0]'}}
    {{#Flipper size="[150,150]"}}
      {{>Surface target="front" template="views_Flipper_front"
        class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
      {{>Surface target="back" template="views_Flipper_back"
        class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
    {{/Flipper}}
  {{/ContainerSurface}}
</template>


<template name="views_Flipper_front"><div class="full">Front</div></template>
<template name="views_Flipper_back"><div class="full">Back</div></template>
