<template name="views_Flipper">
  {{#Scrollview size="[undefined,undefined]"}}
    {{#Surface size="[undefined,true]" class="pagePad"}}
      <h1>Flipper</h1>
      <p>Links two renderables back to back that can be flipped along the axis.</p>
      <p>For this to look really good, we embed the Flipper into ContainerSurface
      so that we can play with the perspective without affecting the main context.
      </p>
      <p>
        Famous:
        <a href="http://www.famo.us/docs/views/Flipper">Docs</a> |
        <a href="https://rawgit.com/Famous/famous/master/examples/views/Flipper/example.html">Example</a>
      </p>
      <br />
    {{/Surface}}

    {{#Modifier size='[undefined, 150]' class='pagePad'}}
      {{#Surface}}{{/Surface}} {{!- To ensure continuous scrolling --}}
      {{>flipper}}
    {{/Modifier}}

    {{#Surface size="[undefined,true]" class="pagePad"}}
      <br>

      {{#snippet lang="spacebars"}}
        &lt;template name="flipper_front">Front&lt;/template>
        &lt;template name="flipper_back">Back&lt;/template>

        &lt;template name="flipper">
          {{dstache}}#ContainerSurface size='[150, 150]' perspective=500}}
            {{dstache}}#Flipper}}
              {{dstache}}>Surface target="front" template="flipper_front"
                class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
              {{dstache}}>Surface target="back" template="flipper_back"
                class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
            {{dstache}}/Flipper}}
          {{dstache}}/ContainerSurface}}
        &lt;/template>
      {{else}}
        {{#if currentLang "jade"}}
          template(name="flipper_front") Front
          template(name="flipper_back") Back
          template(name="flipper")
            +ContainerSurface size='[150, 150]' perspective=500
              +Flipper
                +Surface target="front" template="flipper_front" class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"
                +Surface target="back" template="flipper_back" class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"
        {{/if}}
      {{/snippet}}

      {{#snippet lang="javascript"}}
        function flipSurface(event, fview) {
          fview.parent.view.flip({ curve : 'easeOutBounce', duration : 500});
        }
        Template.flipper_front.famousEvents({ 'click': flipSurface });
        Template.flipper_back.famousEvents({ 'click': flipSurface });
      {{else}}
        {{#if currentLang "coffeescript"}}
          flipSurface = (event, fview) ->
            view.parent.view.flip
              curve: "easeOutBounce"
              duration: 500
          Template.flipper_front.famousEvents click: flipSurface
          Template.flipper_back.famousEvents click: flipSurface
        {{/if}}
      {{/snippet}}

      <p>See <a href="/examples/events">/examples/events</a> for alternative
      methods and more info on event handling.</p>
    {{/Surface}}
  {{/Scrollview}}
</template>

<template name="flipper_front">Front</template>
<template name="flipper_back">Back</template>

<template name="flipper">
  {{#ContainerSurface size='[150, 150]' translate='[20,0]' perspective=500}}
    {{#Flipper}}
      {{>Surface target="front" template="flipper_front"
        class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
      {{>Surface target="back" template="flipper_back"
        class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
    {{/Flipper}}
  {{/ContainerSurface}}
</template>
