<template name="views_GridLayout">
  {{#Scrollview}}

    {{! size, cellSize, etc all seem to be ignored by famous?? }}
    {{#GridLayout size="[undefined,undefined]" dimensions="[3,3]"}}

      {{#ContainerSurface overflow="hidden"}}
        {{#Surface size="[undefined,undefined]"}}
          <div style="margin-top: 50px; padding: 20px">
            Demo of a <code>[3,3]</code> GridLayout (try resize the window).
            Any <code>{{dstache}}#famous}}</code> node can be placed
            in a GridLayout, including data from <code>famousEach</code>.
            Scroll down to see the source.
          </div>
        {{/Surface}}
        {{#Surface class='gridLabel gridLabelHeading' size="[undefined,38]" align="[0,1]" origin="[0,1]"}}
          GridLayout Example
        {{/Surface}}
      {{/ContainerSurface}}

      {{#famousEach items}}
        {{>ContainerSurface template='gridItem'
          overflow="hidden" modifier="StateModifier"}}
      {{/famousEach}}

    {{/GridLayout}}

    {{>famous template='gridLayoutSource' view='Surface' size='[undefined,true]' class='pagePad'}}

  {{/Scrollview}}
</template>

<template name="gridItem">
  {{#Surface class='gridImg' size='[undefined,undefined]'}}
    <img src="{{picUrl}}" />
  {{/Surface}}
  {{#Surface class='gridLabel'
      size="[undefined,38]" align="[0,1]" origin="[0,1]" translate="[0,0,1]"}}
    {{name}}
  {{/Surface}}
</template>

<template name="gridLayoutSource">
  {{#snippet lang="spacebars"}}
    &lt;template name="views_GridLayout">
      {{dstache}}#GridLayout size="[undefined,undefined]" dimensions="[3,3]"}}
        {{dstache}}#famousEach items}}
          {{dstache}}>ContainerSurface template='gridItem' modifier="StateModifier" overflow="hidden"}}
        {{dstache}}/famousEach}}
      {{dstache}}/GridLayout}}
    &lt;/template>

    &lt;template name="gridItem">
      {{dstache}}#Surface class='gridImg' size='[undefined,undefined]'}}
        <img src="{{dstache}}picUrl}}" />
      {{dstache}}/Surface}}
      {{dstache}}#Surface class='gridLabel'
          size="[undefined,38]" align="[0,1]" origin="[0,1]" translate="[0,0,1]"}}
        {{dstache}}name}}
      {{dstache}}/Surface}}
    &lt;/template>
  {{else}}
    {{#if currentLang "jade"}}
      template(name='views_GridLayout')
        +GridLayout size='[undefined,undefined]' dimensions='[3,3]'
          +famousEach items
            +ContainerSurface template='gridItem' modifier='StateModifier' overflow="hidden"

      template(name='gridItem')
        +Surface class='gridImg' size='[undefined,undefined]'
          img(src=picUrl)
        +Surface class='gridLabel' size='[undefined,38]' align='[0,1]' origin='[0,1]' translate='[0,0,1]'
          |= name
    {{/if}}
  {{/snippet}}

  {{#snippet lang="javascript"}}
    Template.views_GridLayout.helpers({
      items: function() {
        return Items.find({}, {sort: {name: 1}, limit: 8});
      }
    });

    /* Entrance animation code follows */
    var queue = [];
    Template.gridItem.rendered = function() {
      var modifier = FView.from(this).modifier;

      modifier.setTransform(Transform.translate(500,500));

      queue.push(function() {
        modifier.setTransform(
          Transform.translate(0,0),
          { duration : 1000, curve: 'easeInOut' }
        );
      });
    }

    Meteor.setInterval(function() {
      if (queue.length)
        queue.shift()();
    }, 100);
  {{else}}
    {{#if currentLang "coffeescript"}}
      Template.views_GridLayout.helpers
        items: ->
          Items.find {}, limit: 8, sort: name: 1

      # Entrance animation code follows
      queue = []
      Template.gridItem.rendered = ->
        modifier = (FView.from @).modifier
        modifier.setTransform (Transform.translate 500,500)
        queue.push ->
          modifier.setTransform (Transform.translate 0, 0),
            duration : 1000, curve: 'easeInOut'

      Meteor.setInterval ->
        queue.shift()() unless queue.length is 0
      , 100
    {{/if}}
  {{/snippet}}
</template>
