<template name="views_HeaderFooterLayout">
  {{#Scrollview translate="[20,0]"}}
    {{#Surface size="[undefined,130]"}}
      <h1>HeaderFooterLayout</h1>
      <p>A View with 3 surfaces, where the outer surfaces have a fixed size
        and the interior surface will expand to fill all the remaining space.</p>
      <p>
        Famous:
        <a href="http://www.famo.us/docs/views/HeaderFooterLayout">Docs</a> |
        <a href="https://rawgit.com/Famous/famous/v0.3.0-rc/examples/views/HeaderFooterLayout/example.html">Example</a>
      </p>
    {{/Surface}}

    {{#HeaderFooterLayout size="[500,200]" headerSize="50" footerSize="50"}}
      {{#Surface target="header" class="red-bg"}}
        Header
      {{/Surface}}
      {{#Surface target="content" class="blue-bg"}}
        Content
      {{/Surface}}
      {{#Surface target="footer" class="green-bg"}}
        Footer
      {{/Surface}}
    {{/HeaderFooterLayout}}

    {{#Surface size="[undefined,true]"}}
      {{#snippet lang="spacebars"}}
        {{dstache}}#HeaderFooterLayout size="[500,200]" headerSize="50" footerSize="50"}}
          {{dstache}}#Surface target="header" class="red-bg"}}
            Header
          {{dstache}}/Surface}}
          {{dstache}}#Surface target="content" class="blue-bg"}}
            Content
          {{dstache}}/Surface}}
          {{dstache}}#Surface target="footer" class="green-bg"}}
            Footer
          {{dstache}}/Surface}}
        {{dstache}}/HeaderFooterLayout}}
        {{else}}
          {{#if currentLang "jade"}}
            +HeaderFooterLayout size='[500,200]' headerSize='50' footerSize='50'
              +Surface target='header' class='red-bg'
                | Header
              +Surface target='content' class='blue-bg'
                | Content
              +Surface target='footer' class='green-bg'
                | Footer
          {{/if}}
      {{/snippet}}
      <br />
    {{/Surface}}

    {{#Surface size="[undefined,30]"}}
      <p>You can also specify <code>direction="X"</code> for a horizontal
      setup.</p>
    {{/Surface}}

    {{#HeaderFooterLayout direction="X" size="[500,200]" headerSize="50" footerSize="50"}}
      {{#Surface target="header" class="red-bg"}}
        Header
      {{/Surface}}
      {{#Surface target="content" class="blue-bg"}}
        Content
      {{/Surface}}
      {{#Surface target="footer" class="green-bg"}}
        Footer
      {{/Surface}}
    {{/HeaderFooterLayout}}

  {{/Scrollview}}
</template>
