<template name="views_RenderController">
  {{#Scrollview size="[undefined,undefined]"}}

    {{#Surface size="[undefined,true]" class="pagePad"}}
      <h1>RenderController demo</h1>

      <p>We can wrap any dynamically rendered template inside a
      RenderController transition in/out template create/destroys.<br />
      For example, this site wraps iron-router's <code>{{dstache}}>yield}}</code> to fade-in and fade-out each route's page.</p>
      <p>
        Famous:
        <a href="http://www.famo.us/docs/views/RenderController">Docs</a> |
        <a href="http://rawgit.com/Famous/famous/master/examples/views/RenderController/example.html">Example</a>
      </p>
      <p>In the example below, we demonstrate fancier transitions
      with a dynamic template:</p>

      {{#snippet lang="spacebars"}}
        {{dstache}}#RenderController transition=getTransition size="[150,150]"}}
          {{dstache}}>showTemplate name=currentTemplate}}
        {{dstache}}/RenderController}}
      {{else}}
        {{#if currentLang "jade"}}
          +RenderController transition=getTransition size='[150,150]'
            +showTemplate name=currentTemplate
        {{/if}}
      {{/snippet}}
    {{/Surface}}

    {{#Modifier size="[undefined,110]"}}
      {{>Surface template="rc_buttons" class="pagePad"}}
      {{#RenderController id="demoRC" transition=getTransition
          size="[150,150]" translate="[500,-50]"}}
        {{>showTemplate name=currentTemplate}}
      {{/RenderController}}
    {{/Modifier}}

    {{#Surface size="[undefined,true]" class="pagePad"}}
      {{>rc_transitionModifiers}}
      {{>rc_useForPages}}
      {{>rc_transitionOnceOffs}}

      {{#snippet lang="javascript"}}
        Template.views_RenderController.helpers({
          'showTemplate': function() {
            return Template[this.name];
          },
          'getTransition': function() {
            return Session.get('currentTransition');
          }
        });

        Session.setDefault('currentTemplate', 'rc_surface1');
        Template.views_RenderController.helpers({
          currentTemplate: function() {
            return Session.get('currentTemplate');
          }
        });

        Template.rc_buttons.events({
          'click button': function(event, tpl) {
            Session.set('currentTemplate', this.valueOf());
          }
        });
      {{else}}
        {{#if currentLang "coffee"}}
          Template.views_RenderController.helpers
            showTemplate: ->
              Template[@name]
            getTransition: ->
              Session.get 'currentTransition'

          Session.setDefault 'currentTemplate', 'rc_surface1'
          Template.views_RenderController.helpers
            currentTemplate: ->
              Session.get 'currentTemplate'

          Template.rc_buttons.events
            'click button': (event, tpl) ->
              Session.set 'currentTemplate', @valueOf()
        {{/if}}
      {{/snippet}}

      {{#snippet lang="spacebars"}}
        &lt;template name="rc_surface1"&gt;
          {{dstache}}#Surface class="red-bg" align="[0,0]" origin="[0,0]" size="[75,150]"}}
            <div class="full">#1</div>
          {{dstache}}/Surface}}
        &lt;/template&gt;
        {{else}}
          {{#if currentLang "jade"}}
            template(name='rc_surface1')
              +Surface class='red-bg' align='[0,0]' origin='[0,0]' size='[75,150]'
                .full #1
          {{/if}}
      {{/snippet}}

      <p><a href="https://github.com/gadicc/meteor-famous-components/tree/master/demo/client/views">Full Source</a> (see RenderController.html and
      RenderController.html)</p>

      <h2>More Fun</h2>

      <h3>Once off Transitions</h3>

      <p>Sometimes we want to queue a transitio or transition modifier to be
      used only on the next change, but make sure changes after this use the
      default again.
      This very useful for <b>per-route transitions in iron-router</b>.  For
      this to work, make sure to give your RenderController a <b>unique ID</b>.</p>

      {{#snippet lang="spacebars"}}
        {{dstache}}>RenderController id="mainRC" ...}}
      {{/snippet}}

      {{#snippet lang="javascript"}}
        Router.route('mySpecialRoute', {
          onBeforeAction: function() {
            var fview = FView.byId("mainRC");
            if (fview) {  // don't run on initial page render before setup
              // Optional; change to a name from FView.transitionModifiers
              fview._transitionModifierOnce = 'slideWindow';

              // Optional; null to use the default transition (linear)
              var SpringTransition = famous.transitions.SpringTransition;
              fview._transitionOnce =
                { method: SpringTransition, period: 800, dampingRatio: 0.2, velocity: 0.01 };
            }
          }
        });
      {{/snippet}}

      <h3>Change the Transition (not Modifier) itself</h3>

      <p>Below example assumes <code>{{dstache}}>RenderController
      template="rcTemplate"}}</code>.  If you want inline content,
      just work by ID, like in the above example.</p>

      {{#snippet lang="javascript"}}
        Template.rcTemplate.rendered = function() {
          var fview = FView.from(this);

          var SpringTransition = famous.transitions.SpringTransition;
          fview._transition = { method: SpringTransition, period: 800, dampingRatio: 0.2, velocity: 0.01 };
        }
      {{/snippet}}

    {{/Surface}}

  {{/Scrollview}}
</template>

<template name="rc_buttons">
  <p>
    {{#each buttons}}
      <button style="display: block; margin-bottom: 2px;"
        class="btn btn-primary" {{isSet}}>
        Session.set('currentTemplate', '{{this}}');
      </button>
    {{/each}}
  </p>
</template>

<template name="rc_transitionModifiers">
  <p>
    TransitionModifier:
    {{#each transitions}}
      <button class="btn btn-primary" {{isSet}}>{{this}}</button>
    {{/each}}
  </p>
</template>

<template name="rc_transitionOnceOffs">
  <p>
    Queue once-off transition:
      <button class="btn btn-primary" data-what="spring">Spring</button>
    - try this with slideWindow :)  More info below.
  </p>
</template>

<template name="rc_useForPages">
  <p>
    <label>
      <input type="checkbox" checked="{{checked}}">
      Use above transition modifier for page changes on the rest of the site too
    </label>
  </p>
</template>

<template name="rc_surface1">
  {{#Surface class="red-bg" origin="[0,0]" align="[0,0]" size="[75,150]"}}
    <div class="full">#1</div>
  {{/Surface}}
</template>

<template name="rc_surface2">
  {{#Surface class="green-bg" origin="[.5,.5]" align="[0.5,0.5]" size="[150,75]"}}
    <div class="full">#2</div>
  {{/Surface}}
</template>

<template name="rc_surface3">
  {{#Surface class="blue-bg" origin="[1,1]" align="[1,1]" size="[75,150]"}}
    <div class="full">#3</div>
  {{/Surface}}
</template>
