<!--

https://github.com/Famous/examples/blob/master/src/examples/views/Scrollview/example.js

-->

<template name="views_Scrollview">
  {{#Scrollview}}

    {{#Surface size="[undefined,true]" class="pagePad"}}
      <h3>Scrollview Demo</h3>
      <!-- {{#each items}}{{#moo}}{{#moo}}{{name}}{{/moo}}{{/moo}}{{/each}} -->
      <p>Scroll to bottom to see source.</p>
      <p>
        Famous:
        <a href="http://www.famo.us/docs/views/Scrollview">Docs</a> |
        <a href="http://rawgit.com/Famous/famous/master/examples/views/Scrollview/example.html">Example</a>
      </p>
    {{/Surface}}

    {{#famousEach items}}
      {{#Surface size='[undefined,50]' class='pagePad'}}
        <div class="panel panel-default">
          <div class="panel-heading">
            {{name}}
          </div>
        </div>
      {{/Surface}}
    {{/famousEach}}

    {{>Surface template='Scrollview_source' size="[undefined,true]"}}
  {{/Scrollview}}
</template>

<template name="moo">{{> UI.contentBlock}}</template>

<template name="Scrollview_source">
  <div class="code pagePad">
    {{#snippet lang="spacebars"}}
      {{dstache}}#Scrollview}}

        {{dstache}}#Surface size="[undefined,true]"}}
          Surface above the list (source code at bottom)
        {{dstache}}/Surface}}

        {{dstache}}#famousEach items}}
          {{dstache}}#Surface size="[undefined,50]"}}
            <div class="listItem">{{dstache}}name}}</div>
          {{dstache}}/Surface}}
        {{dstache}}/famousEach}}

        {{dstache}}>Surface template="Scrollview_source" size="[undefined,true]"}}

      {{dstache}}/Scrollview}}
    {{else}}
      {{#if currentLang "jade"}}
        +Scrollview
          +Surface size='[undefined,true]'
            | Surface above the list (source code at bottom)
          +famousEach items
            +Surface size='[undefined,50]'
              .listItem= name
          +Surface template='Scrollview_source' size='[undefined,true]'
            | Default content
      {{/if}}
    {{/snippet}}
  </div>

  <div class="code pagePad" style="margin-top: 10px">
    {{#snippet lang="javascript"}}
      Template.views_Scrollview.helpers({
        items: function() {
          return Items.find({}, {sort: {name: 1}});
        }
      });
    {{else}}
      {{#if currentLang "coffee"}}
        Template.views_Scrollview.helpers
          items: ->
            Items.find {}, sort: name: 1
      {{/if}}
    {{/snippet}}
  </div>
</template>

<!-- alternatively could be done like below -->

<!-- router page -->
<template name="_Scrollview">
  {{>famous template='list' view='Scrollview' size="undefined,undefined"}}
</template>

<!-- will be loaded as a Scrollview -->
<template name="list" view="Scrollview (requires PR)">
  {{>famousEach data=items template='listItem' size='undefined,100'}}
</template>

<!-- used to generate surfaces, passed to Scrollview.sequenceFrom -->
<template name="listItem">
  <div class="panel panel-default">
    <div class="panel-body">
      {{name}}
    </div>
  </div>
</template>
