<template name="comps_StateModifier">
  {{#Scrollview}}
    {{#Surface size="[undefined,true]" class='pagePad'}}
      {{#markdown}}
# StateModifier

A Modifier which maintains it's state and supports queued transforms.
A very basic class which is super useful for basic animations,
including physics animations.  For an example, see:
[/features/reactivity](/features/reactivity).

Famo.us docs [here](http://famo.us/docs/modifiers/StateModifier).


## Reactive Attributes

* `align`
* `opacity`
* `origin`
* `size`
* `transform`
* `scaleX`, `scaleY`, `scaleZ` <sup>1</sup>
* `skewX`, `skewY`, `skewZ` <sup>1, 2</sup>
* `rotateX`, `rotateY`, `rotateZ` <sup>1</sup>

Notes:

1. In native Famous, radians are used; in famous-views, degrees.  So
instead of `Math.PI/4`, just use `45`, etc.
1. `skewZ` does not exist in native Famo.us, but was added
for convenience.

## Transitions

On any reactive change, we'll look for the transition in the following
order of precedence:

1. Inside the return value of the reactive helper (see below)
1. On the StateModifier fview, we look for `.modifierTransition`
and `.modifierTransitionHalt` properties.

See [/features/reactivity](/features/reactivity) for an example.

If you want to specify the transition inside the modifier, return a value
like this:
      {{/markdown}}

      {{#snippet lang="javascript"}}
        Template.reactivity.helpers({
          getSize: function() {
            return {
              value: [ Session.get('sizeX'), Session.get('sizeY') ],
              transition: { curve: 'easeIn', duration: 1000 },
              halt: true,
              done: function() {
                console.log('getSize transform finished');
              }
            };
          }
        });
      {{else}}
        {{#if currentLang 'coffee'}}
          Template.reactivity.helpers
            getSize: ->
              value: [ (Session.get 'sizeX'), (Session.get 'sizeY') ]
              transition: curve: 'easeIn', duration: 1000
              halt: true
              done: ->
                console.log 'getSize transform finished'
        {{/if}}
      {{/snippet}}

      {{#markdown}}

      {{/markdown}}

    {{/Surface}}
  {{/Scrollview}}
</template>
