/* CSS declarations go here */

#notice {
	background: #a00;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
	font-family: verdana;
	color: white;
	font-weight: bold;
}
#notice a { color: #ccf; }

#header {
	background: black;
	color: white;
	padding: 5px;
}

#main { height: 100%; overflow-y: scroll; padding: 0 20px 0 20px; }
.leftPad, .padLeft { padding-left: 20px; }
.pagePad { padding-left: 20px; padding-right: 20px; }


.navbar-fixed-top { z-index: 100; }
.navbar-brand.active { color: white; background: black; }

.full { width: 100%; height: 100%; }

.red-bg {	background: red; }
.yellow-bg { background: yellow; }
.green-bg { background: green; }
.blue-bg { 	background: blue; }

.margin10 {
	margin: 0 10px 0 10px;
}

/*
div.code {
	border: 1px solid #aaa;
	background: #efefef;
	padding: 10px;
	border-radius: 5px;
	margin: 0 10px 0 10px;
}

div.code > .syntaxhighlighter {
	border-radius: 5px;
	padding: 1em;
	margin: 0 !important;
}
*/

pre[class*="language-"] {
	overflow-y: hidden;
}

/* Velocity */

/* in Chrome at least, matrix3d translateZ are all above css z-index */

#velocity-status-widget {
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2147483647, 1);
}

#velocityOverlay {
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2147483646, 1);
	background: white;
}

#velocityOverlay .container {

}