.timbre-strip {
	background: black;
	color: white;
	font-size: 26px;
	line-height: 45px;
	font-family: verdana;
	border-bottom: 2px solid white;
	padding-left: 80px;
}

.timbre-icon {
	color: white;
	font-size: 26px;
	font-family: verdana;
}

.timbre-main {
	padding: 20px;
	background: gainsboro;
	color: dimgray;
}

.timbre-cs {
	border: 1px solid black;
	background: white;
}
