<template name="views_Flipper">
	{{#Scrollview size="[undefined,undefined]"}}
		{{#Surface size="[undefined,auto]" class="pagePad"}}
			<h1>Flipper</h1>
			<p>Links two renderables back to back that can be flipped along the axis.
			For this to look really good<br> we need to change the perspective a bit,
			which currently affects the header (which is at z-Index: 100).</p>
			<p>
				Famous:
				<a href="http://www.famo.us/docs/0.2.0/views/Flipper">Docs</a> |
				<a href="http://www.famo.us/examples/0.2.0/views/flipper/example">Example</a>
			</p>
			<br />
		{{/Surface}}

		{{#Flipper size="[150,150]" translate="[20,0]"}}
			{{>Surface target="front" template="views_Flipper_front"
				class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
			{{>Surface target="back" template="views_Flipper_back"
				class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
		{{/Flipper}}

		{{#Surface size="[undefined,auto]" class="pagePad"}}
			<br />
			{{#prism lang="blaze" class="line-numbers"}}
				{{dstache}}#Flipper size="[150,150]" translate="[100,0]"}}
					{{dstache}}>Surface target="front" template="views_Flipper_front"
						class="red-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
					{{dstache}}>Surface target="back" template="views_Flipper_back"
						class="blue-bg" size="[150,150]" align="[.5,.5]" origin="[.5,.5]"}}
				{{dstache}}/Flipper}}
			{{/prism}}

			{{#prism lang="javascript" class="line-numbers"}}
				// TODO, put flipper in it's own context
				function perspectiveZero() {
					FView.mainCtx.setPerspective(0);
				}

				Template.views_Flipper_front.events({
					"click": function(event, tpl) {
						var fview = FView.from(tpl);
						FView.mainCtx.setPerspective(500);
						fview.parent.view
							.setAngle(Math.PI, { curve : "easeOutBounce", duration : 500},
								perspectiveZero);
					}
				});

				Template.views_Flipper_back.events({
					"click": function(event, tpl) {
						var fview = FView.from(tpl);
						FView.mainCtx.setPerspective(500);
						fview.parent.view
							.setAngle(0, { curve : "easeOutBounce", duration : 500},
								perspectiveZero);
					}
				});
			{{/prism}}
		{{/Surface}}
	{{/Scrollview}}
</template>

<template name="views_Flipper_front"><div class="full">Front</div></template>
<template name="views_Flipper_back"><div class="full">Back</div></template>

