<template name="views_HeaderFooterLayout">
	{{#Scrollview translate="[20,0]"}}
		{{#Surface size="[undefined,100]"}}
			<h1>HeaderFooterLayout</h1>
			<p>
				Famous:
				<a href="http://www.famo.us/docs/0.2.0/views/HeaderFooterLayout/">Docs</a> |
				<a href="http://www.famo.us/examples/0.2.0/views/headerfooterlayout/example">Example</a>
			</p>
		{{/Surface}}

		{{#HeaderFooterLayout size="[500,200]" headerSize="50" footerSize="50"}}
			{{#Surface target="header" class="red-bg"}}
				Header
			{{/Surface}}
			{{#Surface target="content" class="blue-bg"}}
				Content
			{{/Surface}}
			{{#Surface target="footer" class="green-bg"}}
				Footer
			{{/Surface}}
		{{/HeaderFooterLayout}}

		{{#Surface size="[undefined,220]"}}
			{{#sh_highlight lang="html"}}
				{{dstache}}#HeaderFooterLayout size="[500,200]" headerSize="50" footerSize="50"}}
					{{dstache}}#Surface target="header" class="red-bg"}}
						Header
					{{dstache}}/Surface}}
					{{dstache}}#Surface target="content" class="blue-bg"}}
						Content
					{{dstache}}/Surface}}
					{{dstache}}#Surface target="footer" class="green-bg"}}
						Footer
					{{dstache}}/Surface}}
				{{dstache}}/HeaderFooterLayout}}
			{{/sh_highlight}}
		{{/Surface}}
	{{/Scrollview}}
</template>
