<template name="views_RenderController">
	{{#SequentialLayout}}
		{{#Surface size="[undefined,180]"}}
			<h1>RenderController demo</h1>
			<p>We can wrap any dynamically rendered template inside a
			RenderController to control the in and out transitions.</p>

			{{#sh_highlight lang="html"}}
				{{dstache}}#RenderController size="[150,150]"}}
					{{dstache}}>showTemplate name=currentTemplate}}
				{{dstache}}/RenderController}}
			{{/sh_highlight}}

		{{/Surface}}

		{{#SequentialLayout direction="X"}}
			{{>Surface template="rc_buttons" size="[350,100]"}}

			{{#RenderController size="[150,150]"}}
				{{>showTemplate name=currentTemplate}}
			{{/RenderController}}
		{{/SequentialLayout}}
	{{/SequentialLayout}}
</template>

<template name="rc_buttons">
	<p>
		<button data-id="1">Session.set('currentTemplate', 'rc_surface1');</button>
		<br />
		<button data-id="2">Session.set('currentTemplate', 'rc_surface2');</button>
		<br />
		<button data-id="3">Session.set('currentTemplate', 'rc_surface3');</button>
		<br />
	</p>
</template>

<template name="rc_surface1">
	{{#Surface class="red-bg" origin="[0,0]" size="[75,150]"}}
		<div class="full">#1</div>
	{{/Surface}}
</template>

<template name="rc_surface2">
	{{#Surface class="green-bg" origin="[0.5,0.5]" size="[150,75]"}}
		<div class="full">#2</div>
	{{/Surface}}
</template>

<template name="rc_surface3">
	{{#Surface class="blue-bg" origin="[1,1]" size="[75,150]"}}
		<div class="full">#3</div>
	{{/Surface}}
</template>
