/* CSS declarations go here */

#header {
	background: black;
	color: white;
	padding: 5px;
}

#main {  }

.listItem {
	padding: 10px;
	border: 1px solid #888;
	background: #efefef;
}

.navbar-fixed-top { z-index: 100; }

#block {
	width: 100px; height: 100px; background: #aaf;
}