a.meteorpad {
	display: inline-block;
	border-radius: 20px;
	margin-bottom: 10px;
	padding: 5px 15px 5px 15px;
	border: 1px solid black;
	background: rgb(0, 113, 0);
	color: white;
	font-family: comic sans ms;
}

a.meteorpad:hover {
	text-decoration: none;
	background: rgb(255, 138, 54);
	color: black;
}
