<template name="views_SequentialLayout">
    {{#SequentialLayout class="red-bg"}}
        {{>Surface template="sl_buttons" size="[undefined, 66]"}}
        {{#View size=surfaceASize}}
            {{#if show 'A'}}
                {{>Surface id="sA" template="surfaceA" size="[undefined, true]" class="red-bg"}}
            {{/if}}
        {{/View}}
        {{#View size=surfaceBSize}}
            {{#if show 'B'}}
                {{>Surface template="surfaceB" size="[undefined, true]" class="green-bg"}}
            {{/if}}
        {{/View}}
        {{#View size=surfaceCSize}}
            {{#if show 'C'}}
                {{> Surface template="surfaceC" size="[undefined, true]" class="blue-bg"}}
            {{/if}}
        {{/View}}
    {{/SequentialLayout}}
</template>

<template name="surfaceA">
  <div id="surfaceA">
    <p>Surface A</p>
    <p>Surface A</p>
    <p>Surface A</p>
  </div>
</template>

<template name="surfaceB">
  <div>
    <p>Surface B</p>
  </div>
</template>

<template name="surfaceC">
  <div>
    <p>Surface C</p>
    <p>Surface C</p>
  </div>
</template>

<template name="sl_buttons">
  <style type="text/css">
    button.set { border: 2px solid black; }
  </style>
  <p><br>
  {{#each buttons}}
    <button class="{{isSet}}">
      {{text}}
    </button>
  {{/each}}
  </p>
</template>
