/* CSS declarations go here */

#header {
	background: black;
	color: white;
	padding: 5px;
}

#main {  }

.navbar-fixed-top { z-index: 100; }

#block {
	width: 100px; height: 100px; background: #aaf;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.green {
	background: green;
}