/* CSS declarations go here */

#header {
	background: black;
	color: white;
	padding: 5px;
}

#main { height: 100%; overflow-y: scroll; padding: 0 20px 0 20px; }

.navbar-fixed-top { z-index: 100; }

.full { width: 100%; height: 100%; }

.red-bg {
	background: red;
}

.yellow-bg {
	background: yellow;
}

.green-bg {
	background: green;
}

.blue-bg {
	background: blue;
}

.margin10 {
	margin: 0 10px 0 10px;
}

div.code {
	border: 1px solid #aaa;
	background: #efefef;
	padding: 10px;
	border-radius: 5px;
	margin: 0 10px 0 10px;
}

div.code > .syntaxhighlighter {
	border-radius: 5px;
	padding: 1em;
	margin: 0 !important;
}