/* CSS declarations go here */

#header {
	background: black;
	color: white;
	padding: 5px;
}

#main {  }

.navbar-fixed-top { z-index: 100; }

#ball {
	width: 100px; height: 100px; background: #aaf; border-radius: 50%;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.green {
	background: green;
}


.margin10 {
	margin: 0 10px 0 10px;
}

div.code {
	border: 1px solid #aaa;
	background: #efefef;
	padding: 10px;
	border-radius: 5px;
	margin: 0 10px 0 10px;
}

div.code > .syntaxhighlighter {
	border-radius: 5px;
	padding: 1em;
	margin: 0 !important;
}