.ball {
	width: 100px; height: 100px; background: #aaf; border-radius: 50%;
	/* opacity: 0.5; */
}

.ballBorder {
	width: 100; height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #fafafa;
	margin: 20px;
}

.ev_surface_click {
	border: 1px solid black;
	border-radius: 5px;
	background: red;
	text-align: center;
	line-height: 50px;
	font-family: comic;
	font-size: 250%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}