.plugin img {
  float: right;
  height: 80px;
  margin-left: 10px;
}

.plugin .releasedAt { float: right; margin-right: 7px; };

.red-button {
  background-color: #FF4136;
  border-radius: 5px;
}

.line {
  background-color: #FFDC00;
  border-radius: 5px;
  pointer-events: none;
}

.dotloader-background {
  background-color: #85144B;
  border-radius: 5px;
}
.dotloader-dots {
  background-color: #F012BE;
}
